@import 'variables';
@import '~bootstrap/scss/bootstrap';

.title-text {
  // ((2 (size of hamburger icon) + 0.75 (total inner button padding)) * 16 (rem scale in px) + 2 (button borders))
  // / (3.5 (font size) * 16 (rem scale in px))
  // I promise it's correct
  line-height: 0.8214285714;
  margin-bottom: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  font-size: 3.5rem;
  font-weight: 300;
}

.profile-img {
  width: 12rem;
  height: 12rem;
  @media (max-width: 767px) {
    width: 15rem;
    height: 15rem;
  }
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}
