files:
  "/etc/nginx/conf.d/compression.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      gzip_static on;
      gzip on;
      gzip_comp_level 5;
      gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript;

      brotli_static on;
      brotli on;
      brotli_comp_level 5;
      brotli_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript;
      

container_commands:
  10_upgrade_nginx:
    command: "cd /etc/yum.repos.d && sudo wget https://repo.codeit.guru/codeit.el6.repo && sudo echo priority=1 >> codeit.el6.repo && sudo yum install -y nginx && sudo rm -rf /etc/nginx/conf.d/default-ssl.conf.example /etc/nginx/conf.d/default.conf"
