files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/49getconfig.sh":
    mode: "000775"
    owner: root
    group: users
    content: |
      #!/bin/bash

      cd "$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)";
      aws s3api get-object --bucket cannine-assistants --key creds/config.json build/server/config.json
