option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: "node build/server"
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 8.9.3
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: static
    value: dist