files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/49yarn.sh" :
    mode: "000775"
    owner: root
    group: users
    content: |
      #!/bin/bash

      app="$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)";

      # install node
      wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo;
      curl --silent --location https://rpm.nodesource.com/setup_8.x | bash -;
      yum -y install nodejs;

      # grab config
      cd "${app}";
      aws s3api get-object --bucket canineassistants --key creds/config.json build/server/config.json